<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#home"><img class="logo" src="../static/image/logo.jpg" width="50px" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pizzas"> Choose Pizza</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#crusts"> Crust</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#toppingss">Toppings</a>
            </li>
        </ul>
        <span class="float-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown float-right">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Delivery</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#location">Nairobi</a>
                        <a class="dropdown-item" href="#location">Nairobi County</a>
                        <a class="dropdown-item" href="#location">650 kilometres</a>
                        <a class="dropdown-item" href="#location">Diaspora</a>
                </li>
                <!--cart-->
                <div class="cart">
                    <img src="../static/image/cart.jpg" />
                    <a href="#">Cart</a>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact us</a>
                </li>
            </ul>
        </span>
    </div>
</nav>